# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Aider
.aider*

# Generated datasets
data/raw/pro_players/
data/processed/pro_players/
data/processed/final_dataset.csv

#Visual Studio Code
.vscode/

#Training
random_forest_v4.pkl
